# TODO - complete with requirements (pandas, sklearn etc...)
# Then, execute "pip-compile requirements.in" to generate the file requirements.txt

numpy==1.26.0
pandas==1.5.3
scikit-learn==0.24.2
seaborn==0.13.0
matplotlib==3.8.0
plotly==5.17.0
xgboost==1.7.6
mlflow==2.6.0

